.container-reset-password input[type=password] {
	width: 70%;
	padding: 12px 20px;
	margin: 11px auto;
	display: block;
	border: 2px solid #acacac;
	border-radius: 4px;
	box-sizing: border-box;
}

.container-reset-password input[type=submit] {
	width: 70%;
	background-color: #4785e2;
	color: white;
	padding: 14px 20px;
	margin: 26px auto 0 auto;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: 500;
	letter-spacing: 1.2px;
	font-size: 16px;
	display: block;
}

.container-reset-password input[type=submit]:hover {
	background-color: #4171ca;
}

.heading-primary-password {
	color: rgb(62, 62, 158);
	font-size: 18px;
	font-weight: 700;
	margin: 20px 0;
	display: block;
	font-size: 20px;
}

.main-container {
	padding-top: 10rem;
	text-align: center;
	height: 100%;
}

.container-reset-password {
	margin: auto;
	height: 100%;
	max-width: 500px;
	border-radius: 5px;
	background-color: #e0e0e0;
	padding: 100px 20px;
}



.reset-password-spinner {
	height: 200px;
	width: 300px;
	margin-top: 34px;
}